
.card {
	color: #666;
	width: 180px;
	height: 260px;
	text-align: center;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
	-webkit-transform-origin: right center;
}
.card figure {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border: 4px solid #f0e8dd;
	box-shadow: 10px 5px 35px rgba(0,0,0,0.05);
	border-radius: 8px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 10px 5px;
	background: linear-gradient( -25deg, hsla(39,60%,90%,1), hsla(39,100%,96%,1));
	-webkit-backface-visibility: hidden;
}
.card .front {
}
.card .back {
	transform: rotateY( 180deg );
}
.card.flipped {
	transform: translateX( -100% ) rotateY( -180deg );
}
