
.logo {
    position: relative;
    width: 50px;
    margin: 0.3em auto;
}
.c1, .c2, .c3,
.m1, .m2, .m3, .m4 {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}
.c1 {
    background: #ceb69f;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 0;
    left: 0;
}
.c2 {
    background: antiquewhite;
    width: 22px;
    height: 26px;
    border-radius: 100%;
    top: 14px;
    left: 14px;
}
.c3 {
    background: antiquewhite;
    width: 50px;
    height: 25px;
    top: 32px;
    left: 0;
}

.m1 {
    background: #ceb69f;
    height: 36px;
    width: 14px;
    left: 0px;
    top: 34px;
    border-top-left-radius: 4px;
}
.m2 {
    background: #ceb69f;
    width: 14px;
    height: 32px;
    -webkit-transform: rotate3D(0,0,1, -45deg );
    top: 29px;
    left: 12px;
    border-top-right-radius: 12px;
}
.m3 {
    background: #ceb69f;
    width: 14px;
    height: 32px;
    -webkit-transform: rotateZ( 45deg );
    top: 29px;
    left: 25px;
    border-top-left-radius: 12px;
}
.m4 {
    background: #ceb69f;
    height: 36px;
    width: 14px;
    left: 36px;
    top: 34px;
    border-top-right-radius: 4px;
}
